<ion-header [translucent]="true">
  <ion-toolbar style="--background: #1b100e; border-bottom: 2px solid #7b3b1d;">
    <ion-buttons slot="start">
      <ion-menu-button menu="first" style="color: #ffcc5c;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #ffcc5c; font-family: 'Press Start 2P', monospace; font-size: 0.9rem; text-shadow: 1px 1px 0 #4a260c;">
      PERFIL
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="perfil-box">
    <img [src]="" class="avatar">

    <h2>LOYA</h2>
    <h3>100 monedas</h3>

    <ion-button class="btn-jugar" routerLink="/tienda">Ir a la tienda</ion-button>
  </div>
</ion-content>
