ion-content {
  --background: #1b100e;
  font-family: 'Press Start 2P', monospace;
}

.perfil-box {
  padding: 2rem;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #ffb000;
  box-shadow: 0 0 25px rgba(255, 176, 0, 0.6);
  animation: pulse-glow 2s infinite;
}

h2 {
  color: #ffcc5c;
  font-size: 1rem;
  margin-top: 1rem;
  text-shadow: 2px 2px #4a260c;
}

h3 {
  color: #ffb000;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.btn-jugar {
  margin-top: 1.5rem;
  --background: linear-gradient(135deg, #ffc400, #ff3000);
  --color: #2b1007;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  animation: pulse-glow 2s infinite;
}
