<ion-content class="fondo">
  <div class="overlay"></div>

  <div class="contenedor">
    <h1 class="titulo">INICIAR SESIÓN</h1>

    <ion-item class="input-retro">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input placeholder="Usuario o correo" type="text"></ion-input>
    </ion-item>

    <ion-item class="input-retro">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-jugar">ENTRAR</ion-button>

    <p class="texto-registro">
      ¿No tienes cuenta?
      <a routerLink="/register" class="link">Regístrate aquí</a>
    </p>
  </div>
</ion-content>
