<ion-header class="ion-no-border">
  <ion-toolbar class="login-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="retro-menu-btn"></ion-menu-button>
    </ion-buttons>

    <ion-title class="retro-title">ACCESO</ion-title>

    <ion-buttons slot="end">
      <div class="spacer-btn"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="retro-content">
  <div class="crt-lines"></div>

  <div class="main-layout">

    <div class="arcade-panel slide-up">

      <div class="panel-header">
        <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
        <h1 class="panel-title">INICIAR SESIÓN</h1>
        <p class="panel-subtitle">INGRESA TUS CREDENCIALES</p>
      </div>

      <div class="error-box shake-horizontal" *ngIf="mensajeError">
        <ion-icon name="warning"></ion-icon>
        <span>{{ mensajeError }}</span>
      </div>

      <div class="form-group">

        <div class="input-wrapper">
          <ion-icon name="mail" class="input-icon"></ion-icon>
          <ion-input
            placeholder="CORREO ELECTRÓNICO"
            type="email"
            [(ngModel)]="email"
            class="retro-input"
          ></ion-input>
        </div>

        <div class="input-wrapper">
          <ion-icon name="key" class="input-icon"></ion-icon>
          <ion-input
            placeholder="CONTRASEÑA"
            type="password"
            [(ngModel)]="password"
            class="retro-input"
          ></ion-input>
        </div>

        <ion-button expand="block" class="btn-login" (click)="onLogin()">
          ENTRAR AL JUEGO
          <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
        </ion-button>

      </div>

      <div class="divider">
        <span class="line"></span>
        <span class="text">O CONTINÚA CON</span>
        <span class="line"></span>
      </div>

      <ion-button expand="block" class="btn-google" (click)="onLoginWithGoogle()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        GOOGLE
      </ion-button>

      <div class="panel-footer">
        <p>¿NO TIENES CUENTA?</p>
        <a routerLink="/register" class="register-link">
          ¡REGÍSTRATE AQUÍ! <ion-icon name="game-controller"></ion-icon>
        </a>
      </div>

    </div>
  </div>
</ion-content>
